header{
    font-size: 18px;
    background-color: black;
    color: white;
    padding: 20px;      
}
body{
    background-color:grey ;
}
nav{
    list-style-type: none;
    display: inline;
    margin-right: 




}





    